[package]
name = "sculptor"
authors = ["Shiroyashik <shiroyashik@shsr.ru>"]
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
# Logging
log = "0.4.21"
fern = { version = "0.6.2", features = ["colored"] }

# Errors handelers
anyhow = "1.0.83"
anyhow-http = { version = "0.3.0", features = ["axum"] }

# Serialization
chrono = { version = "0.4.38", features = ["now", "serde"] }
serde = { version = "1.0.201", features = ["derive"] }
serde_json = "1.0.117"
toml = "0.8.13"

# Other
dashmap = "5.5.3"
hex = "0.4.3"
uuid = { version = "1.8.0", features = ["serde"] }
base64 = "0.22.1"
reqwest = { version = "0.12.4" }

# Crypto
ring = "0.17.8"
rand = "0.8.5"

# Web framework
axum = { version = "0.7.5", features = ["ws", "macros", "http2"] }
tower-http = { version = "0.5.2", features = ["trace"] }
tokio = { version = "1.37.0", features = ["full"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "chrono"] }

# TODO: Sort it!
# TODO: Replace Vec<u8> and &[u8] by Bytes
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html